{
  "work_dirs": [
    {
      "path": "<YOUR_HOME_DIR>",
      "kaos": "local",
      "last_session_id": null
    },
    {
      "path": "<YOUR_HOME_DIR>/.kimi-code",
      "kaos": "local",
      "last_session_id": null
    }
  ]
}
